@model SinExWebApp20328381.ViewModels.ShipmentInputViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("_ShipmentDetailPartial", Model)

<p>
    @if(ViewBag.Status == "Saved") {
        @Html.ActionLink("Edit", "Edit", new { id = Model.WaybillId })
    }
    <div>
        @*Html.ActionLink("Back to List", "Index")*@
    </div>
</p>
